#aboutme {
  height: 60vh;
  width: 90%;
  max-width: 1200px;
  margin: 4vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media screen and (max-width: 480px) {
    height: min-content;
  }
  @media screen and (min-width: 481px) and (max-width: 900px) {
    height: min-content;
  }

  .aboutmeContent {
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: rgb(243, 243, 243);
    @media screen and (max-width: 480px) {
      display: flex;
      flex-direction: column;
    }
    @media screen and (min-width: 481px) and (max-width: 900px) {
      display: flex;
      flex-direction: column;
    }

    .aboutmeCadre {
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      width: 100%;
      height: 100%;
      padding: 10px;
      border: 1px solid orange;
      transition: border-radius 1s ease, opacity 0.5s, transform 0.4s;
      border-radius: 100%;
      transform: translateX(200%);
    }

    .aboutmeLeft {
      text-align: justify;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateX(-200%);
      transition: 0.5s ease;
      display: grid;
      @media screen and (max-width: 480px) {
        gap: 15px;
      }
      @media screen and (min-width: 481px) and (max-width: 900px) {
        gap: 15px;
      }

      p {
        padding: 20px 30px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: max-height 0.5s ease-in-out;
        max-height: 100px;
      }
      .aboutme-infos.expanded {
        -webkit-line-clamp: unset;
        max-height: 700px;
      }

      .cadre {
        border: 1px solid orange;
        display: flex;
        transition: 0.3s ease;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        &:hover {
          border-radius: 10px;
        }
      }

      #see-more-btn {
        display: block;
        text-transform: uppercase;
        color: white;
        font-family: "Rubik", sans-serif;
        background-color: orange;
        padding: 15px 30px;
        transition: 0.3s ease;
        border: none;
        cursor: pointer;
        margin: 5px;
      }
      #see-more-btn:hover {
        background-color: rgb(243, 243, 243);
        color: orange;
        cursor: pointer;
      }
    }

    .aboutmeRight {
      background: url(./Assets/imgs/flavien2.png) no-repeat;
      background-size: cover;
      background-position: center bottom -22px;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      width: 100%;
      height: 100%;
      background-color: orange;
      border-radius: 100%;
      transition: border-radius 1s ease, opacity 0.5s;
      @media screen and (max-width: 480px) {
        height: 499px;
      }
      @media screen and (min-width: 481px) and (max-width: 900px) {
        height: 499px;
        width: 100%;
        margin: 0 auto;
      }
    }
  }

  .aboutme-title {
    font-family: "Rubik";
    font-weight: 100;
    margin: 20px auto;
    position: relative;
    text-align: left;
    align-self: flex-start;
    width: 100%;
    margin: 0 30px;
    padding: 0 10px;
    transform: translateY(-200px);
    transition: 0.5s ease;

    &::before {
      content: "";
      position: absolute;
      border-top: 26px solid rgb(255, 166, 0);
      width: 3px;
      top: 0;
      left: 0;
    }
  }
}
