header {
  background: url(./Assets/imgs/banner.jpeg) center/cover;
  background-attachment: fixed;
  width: 100%;
  height: calc(40vh - 100px);
  transition: 1s ease;
  @media screen and (max-width: 480px) {
    height: min-content;
    
}

  #headerContainer {
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 480px) {
        height: min-content;
    }

    .headerCadre {
      border: 2px solid white;
      
      
    }
  }
  .header-left {
    background-color: rgb(255, 166, 0);
    margin: 10px;
    padding: 10px;

    h1 {
      font-family: "Rubik", sans-serif;
      font-weight: 900;
      font-size: 3rem;
      color: white;
    }
    h2 {
      font-family: "Rubik", sans-serif;
      font-weight: 800;
      padding-bottom: 1rem;
      position: relative;
    }
    p {
      margin: 0.5rem 0;
    }
    i {
      color: white;
    }
    span {
      color: white;
    }
  }
  .header-right {
    height: 70%;

    border-radius: 50px 50px 50px 50px;
  }
}
